page-rent-points {

  #map {
    display: block;
    height: 85vh;
    width: 94%;
    margin: auto;
  }

  .icons {
    margin: 4%;
    display: flex;
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  .globe {
    color: #9f9f9f;
    opacity: 70%;
  }
}
