page-create-routes {
  .submit {
    width: 85%;
  }

  #map {
    display: block;
    height: 65vh;
    width: 100%;
  }
  .input {
    width: 80%;
    float: left;
  }
  .undo {
    width: 5%;
    float: left;
  }
}
