page-events {
    display: inline-block;
    .search-button {
        margin-top: 3%;
        margin-left: 3%;
    }
    .add-button {
        margin-left: 60%;
    }
    .globe-button {
        margin-left: 1%;
    }
    .icons {
        margin: 5%;
        display: flex;
    }
    .example-fill-remaining-space {
        flex: 1 1 auto;
    }
}
